/* 
  Program name: style.css
  Name: Daniel Jo
  Date Created: 2026-02-01
  Date Updated: 2023-02-27
  Version: 1.1
  Purpose: Style sheet for MIS 3371 Homework 1
*/

body {
    background-color: #7D8C9B;
    font-family: "Times New Roman", serif;
}

table.form, tr.form, td.form {
  width: 85%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  font-family: "Times New Roman", serif;
  background-color: #03697F;
  padding: 12px;
  border-spacing: 00px;
  color:rgb(222, 243, 245);
}
th.form {
  font-family: "Times New Roman", serif;
  background-color:#03697F;
  padding: 20px;
  border-spacing: 20px;
  color:rgb(222, 243, 245);
  margin-left: auto;
  margin-right: auto;
}
.textsize1 
{
    width:10px
}
.textsize5 
{
    width:40px
}

health-value {
    font-weight: bold;
    margin-left: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
}

a:link { color: #002b36; text-decoration: none; }

a:visited { color: #053a47; }

a:hover { text-decoration: underline; }
