/* 
  Program name: style.css
  Name: Daniel Jo
  Date Created: 2026-03-01
  Date Updated: 2026-03-27
  Version: 1.1
  Purpose: Style sheet for MIS 3371 Homework 2
*/

body {
    background-color: #7D8C9B;
    font-family: "Times New Roman", serif;
    color:rgb(255, 255, 255);
}

table.form, tr.form, td.form {
  width: 70%;
  opacity: 0.9;
  font-family: "Times New Roman", serif;
  background-color: #03697F;
  padding: 0px;
  border-spacing: 00px;
  color:rgb(255, 255, 255);
}
th.form {
  font-family: "Times New Roman", serif;
  background-color:#03697F;
  padding: 20px;
  border-spacing: 20px;
  color:rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
}
table.output, tr.output, td.output {
  width: 70%;
  opacity: 0.9;
  font-family: "Times New Roman", serif;
  background-color:green;
  padding: 2px;
  border-spacing: 2px;
  color:rgb(222, 243, 245);
}
td.outputdata {
  width: 70%;
  opacity: 0.9;
  font-family: "Times New Roman", serif;
  background-color:white;
  padding: 2px;
  border-spacing: 2px;
  color:black;
}
.textsize1 
{
    width:10px
}
.textsize5 
{
    width:40px
}

footer 
{
    color:rgb(255, 255, 255);
}
